.container{
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

#tablero{
    width: 600px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
 
}

.celda{
    width: 198px;
    height: 198px;
    border:1px solid black;
    font-size: 150px;
    display: flex;
    justify-content: center;
    align-items:center;

}
.o{
    background: rgb(47, 125, 241);
}
.x{
    background: rgb(238, 73, 73);
}
.span{
    background: rgb(134, 134, 134);
    color: rgb(0, 0, 0);
    width: 40px;
    height:40px;
    border-radius: 50%;
    border:2px solid black;
    display: flex;
    justify-content: center;
    align-items:center;
    font-size: 50px;
    position: absolute;
    bottom: 30px;
    right: 30px;
    cursor:pointer;
}


.listados{
    display:flex;
    justify-content: space-around;
}
#jugador1{
    position: absolute;
    top:  80px; 
    left: 50px;
    width: 65px;
    background: rgb(47, 125, 241);
}

#jugador2{
    position: absolute;
    top:  80px; 
    left: 300px;
    width: 65px;
    background: rgb(238, 73, 73);
   
}

/* Para movil */
@media only screen and (max-width: 1024px){
  

    .container{
        margin-top:50px;
        width: 100%;
        display: flex;
       justify-content:space-between;
        background-color: rgb(247, 247, 247);
    }
} 

@media only screen and (max-width: 768px){
   

    .container{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    
    #tablero{
        width: 306px;
        height: 306px;
        display: flex;
        flex-wrap: wrap;
        margin:0 auto;
    }

    .celda{
        width: 100px;
        height: 100px;
        border:1px solid black;
        font-size: 100px;
        display: flex;
        justify-content: center;
        align-items:center;
    }
    
}
 

